<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>

<div th:each="book : ${books}">
    <a th:href="@{/books/{id}(id=${book.getId()})}"
       th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}">book</a>
</div>

<br/>
<hr/>

<a href="/books/new">Add book</a>

<br/>
<hr/>

<a href="/books/findBook">find book</a>

<br/>
<hr/>

<a href="/users/profile">my profile</a>

<br/>
<hr/>

<a href="/admin/users">Library users</a>

<br/>
<hr/>
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout" />
</form>

</body>
</html>